.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    padding: 20px;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.4);
}

.container p {
    text-align: center;
}

.title {
    margin: 20px 15px 0 15px;
    font-weight: bold;
    font-size: x-large;
    
}

.message {
    margin: 20px 15px 0 15px;
    font-size: large;
    margin-top: 10px;
}

.action {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.action div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.action div:hover {
    background-color: rgba(0, 0, 0, .1);
}
.action div:focus {
    background-color: rgba(0, 0, 0, .1);
}
.action div:active {
    background-color: rgba(0, 0, 0, .2);
}

.show {
    animation: show 300ms;

}
@keyframes show {
    from  {
        margin-bottom: -100px;
        opacity: 0;
    }

    to {
        margin-bottom: 0px;
        opacity: 1;
    }
}

.dismiss {
    animation: dismiss 300ms;
}
@keyframes dismiss {
        from {
            margin-bottom: 0px;
            opacity: 1;
        }

    to  {
        margin-bottom: -100px;
        opacity: 0;
    }
}